body, h1, h2, p, ul, li, a{
  margin: 0;
  padding: 0;
}

body{
  font-family: roboto;
}

ul{
  list-style: none;
}

a{
  text-decoration: none;
}

img{
  max-width: 100%;
}

*{
  box-sizing: border-box;
}

.largura-center{
  width: 850px;
  margin: auto;
}

header{
  background: url("../img/principal_banner_desktop.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  width: 100%;
  height: 590px;
}

.header-top{
  width: 850px;
  height: 39px;
  padding-top: 41px;
  display: flex;
  flex-direction: row;
  margin: auto;
  justify-content: space-between;
  align-items: center;
}

.logo{
  padding-right: 300px;
}

.header-top ul{
  width: 414px;
  font-weight: 300;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.header-top ul li{
  color: #fff;
  text-transform: uppercase;
  list-style: none;
  display: inline-block;
}

.header-top ul li img{
  padding-right: 5px;
  width: 28px;
}

.linha-vertical{
  height: 29px;
  border-left: 1px solid #fff;
  margin-left: 40px;
}

.produto-header{
  width: 100%;
  height: 549px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  padding-right: 251px;
}

.title-MK{
  width: 414px;
  font-size: 45px;
  margin-bottom: 10px;
  font-weight: bold;
  color: #fff;
  text-transform: uppercase;
}

.preco-MK{
  font-size: 80px;
  font-weight: bold;
  color: #3EC6E0;
  position: relative;
  margin-right: 60px;
  top: -20px;
}

.preco-MK span{
  font-size: 40px;
  font-weight: bold;
  margin-bottom: 20px;
  position: absolute;
  top: 13px;
}

.descricao-MK{
  width: 414px;
  font-size: 18px;
  font-weight: lighter;
  color: #fff;
  margin-top: -15px;

}

.produtos-capa{
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: -30px;
}

.capa-zelda img{
  width: 415px;
  margin-right: 20px;

}

.capa-sekiro img{
  width: 415px;
}

.produtos-destaque{
  width: 850px;
  font-size: 32px;
  font-weight: normal;
  padding-top: 58px;
  padding-bottom: 60px;
  margin: 0 auto;
  text-align: left;
}

.quadrado_produtos-destaque{
  font-size: 200px;
  color: #3EC6E0;
}

.colunas-destaque{
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.box-produto{
  width: 198px;
  height: 284px;
  background-color: #ebebeb;
}

.destaque1, .destaque2, .destaque3, .destaque4{
  width: 198px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.destaque2{
  margin-left: 20px;
  margin-right: 20px;
}

.destaque3{
  margin-right: 20px;
}

.titulo-produto{
  font-size: 20px;
  margin-top: 24px;
}

.preco-produto{
  font-size: 32px;
  font-weight: bold;
}

.botao-comprar{
  background-color: #3EC6E0;
  width: 198px;
  height: 50px;
  border: darkviolet;
  border-radius: 5px;
  margin-top: 19px;
  font-size: 18px;
  color: #fff;
  font-weight: bold;
}

/*.lateral-MK{
  writing-mode: vertical-rl;
  text-align: right;
  width: 100%;
}

textLateral-MK{
  
}

.lateral-MK h1{
  color: #fff;
}

.linha-vertical{
  width: 1px;
  height: 20px;
  color: blue;
}

.setas-clique{
  display: block;
}

.s-esq{
  padding-right: 5px;

}

.s-dir{

}
*/